<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>牛客网-个人主页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">

		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link " th:href="@{|/user/${username}/profile|}">个人信息</a>
						</li>
						<li class="nav-item">
							<div class="nav-link active"  th:if="${loggedInUser!=null&&loggedInUser.username==username}">我的帖子</div>
							<div class="nav-link active" th:if="${loggedInUser==null||loggedInUser.username!=username}">TA的帖子</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{|/user/${username}/comment|}" th:if="${loggedInUser!=null&&loggedInUser.username==username}">我的回贴</a>
						</li>
					</ul>
				</div>
				<!-- 我的帖子 -->
				<div class="mt-4">
					<h6 th:if="${loggedInUser!=null&&loggedInUser.username==username}"><b class="square"></b> 我发布的帖子(<i th:text="${pageBean.totalContent}">93</i>)</h6>
					<h6 th:if="${loggedInUser==null||loggedInUser.username!=username}"><b class="square"></b> TA发布的帖子(<i th:text="${pageBean.totalContent}">93</i>)</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<li class="border-bottom pb-3 mt-4" th:each="content:${pageBean.contents}">
							<div class="font-size-16 text-info">
								<a th:href="@{|/post/${content.postId}|}" class="text-info" th:utext="${content.title}">备战春招，面试刷题跟他复习，一个月全搞定！</a>
								<span class="badge badge-secondary bg-primary" th:if="${content.isTop}">置顶</span>
								<span class="badge badge-secondary bg-danger" th:if="${content.isGreat}">精华</span>
							</div>


							<div class="text-right font-size-12 text-muted">
								赞 <i class="mr-3" th:text="${content.likeCount}">11</i> 发布于 <b th:text="${#dates.format(content.date,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 10:10:10</b>
							</div>
						</li>
					</ul>

					<!-- 分页 -->
					<nav class="mt-5">
						<ul class="pagination justify-content-center" th:if="${pageBean.totalPage>1}">
							<li class="page-item">
								<a class="page-link" th:href="@{|/user/${username}/post/1|}">首页</a>
							</li>

							<li th:class="|page-item ${pageBean.current==1 ? 'disabled' : ''}|">
								<a class="page-link" th:href="@{|/user/${username}/post/${pageBean.current -1}|}">上一页</a>
							</li>

							<li th:class="|page-item ${i==pageBean.current?'active':''}|" th:each="i:${#numbers.sequence(pageBean.from,pageBean.to)}">
								<a class="page-link" th:href="@{|/user/${username}/post/${i}|}" th:text="${i}">1</a>
							</li>

							<li th:class="|page-item ${pageBean.current==pageBean.totalPage ? 'disabled' : ''}|">
								<a class="page-link" th:href="@{|/user/${username}/post/${pageBean.current +1}|}">下一页</a>
							</li>

							<li class="page-item">
								<a class="page-link" th:href="@{|/user/${username}/post/${pageBean.totalPage}|}">末页</a>
							</li>
						</ul>
					</nav>
				</div>				
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
