<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>CodeAndPeace-个人主页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header"></header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" th:href="@{|/user/${username}/profile|}">个人信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{|/user/${username}/post|}">我的帖子</a>
						</li>
						<li class="nav-item">
							<div class="nav-link active" >我的回贴</div>
						</li>
					</ul>
				</div>
				<!-- 我的回复 -->
				<div class="mt-4">
					<h6><b class="square"></b> 我回复的帖子(<i th:text="${pageBean.totalContent}">379</i>)</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<li class="border-bottom pb-3 mt-4" th:each="content:${pageBean.contents}">
							<div class="font-size-16 text-info">
								<a th:href="@{|/post/${content.postId}|}" class="text-info" th:utext="${content.title}">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14" th:text="${content.content}">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b th:text="${#dates.format(content.date,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 10:10:10</b>
							</div>
						</li>

					</ul>
					<!-- 分页 -->
					<nav class="mt-5">
						<ul class="pagination justify-content-center" th:if="${pageBean.totalPage>0}">
							<li class="page-item">
								<a class="page-link" th:href="@{|/user/${username}/comment/1|}">首页</a>
							</li>

							<li th:class="|page-item ${pageBean.current==1 ? 'disabled' : ''}|">
								<a class="page-link" th:href="@{|/user/${username}/comment/${pageBean.current -1}|}">上一页</a>
							</li>

							<li th:class="|page-item ${i==pageBean.current?'active':''}|" th:each="i:${#numbers.sequence(pageBean.from,pageBean.to)}">
								<a class="page-link" th:href="@{|/user/${username}/comment/${i}|}" th:text="${i}">1</a>
							</li>

							<li th:class="|page-item ${pageBean.current==pageBean.totalPage ? 'disabled' : ''}|">
								<a class="page-link" th:href="@{|/user/${username}/comment/${pageBean.current +1}|}">下一页</a>
							</li>

							<li class="page-item">
								<a class="page-link" th:href="@{|/user/${username}/comment/${pageBean.totalPage}|}">末页</a>
							</li>
						</ul>
					</nav>
				</div>				
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer"></footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
