<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/letter.css}" />
	<title>CodeAndPeace-通知详情</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-8">
						<h6><b class="square"></b> 系统通知</h6>
					</div>
					<div class="col-4 text-right">
						<a th:href="@{/notice/list}">
							<button type="button" class="btn btn-secondary btn-sm" onclick="history.back(-1)">返回</button>
						</a>
					</div>
				</div>
				
				<!-- 通知列表 -->
				<ul class="list-unstyled mt-4">
					<li class="media pb-3 pt-3 mb-2" th:each="content:${pageBean.contents}">
						<img src="http://static.nowcoder.com/images/head/notify.png" class="mr-4 rounded-circle user-header" alt="系统图标">
						<div class="toast show d-lg-block" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="mr-auto" th:text="${content.fromUsername}">落基山脉下的闲人</strong>
								<small th:text="${#dates.format(content.time,'yyyy-MM-dd HH:mm:ss')}">2019-04-25 15:49:32</small>

							</div>
							<div class="toast-body">
								<span th:if="${type==1}">用户 <a th:href="@{|/user/${content.fromUsername}/profile|}" th:text="${content.fromUsername}">nowcoder</a> 评论了您, <a class="text-primary" th:href="@{|/post/${content.postId}/1|}">点击查看</a> !</span>
								<span th:if="${type==2}">用户 <a th:href="@{|/user/${content.fromUsername}/profile|}" th:text="${content.fromUsername}">nowcoder</a> 赞了您, <a class="text-primary" th:href="@{|/post/${content.postId}/1|}">点击查看</a> !</span>
								<span th:if="${type==3}">用户 <a th:href="@{|/user/${content.fromUsername}/profile|}" th:text="${content.fromUsername}">nowcoder</a> 关注了您, <a class="text-primary" th:href="@{|/user/${content.fromUsername}/profile|}">去TA主页</a> !</span>
							</div>
						</div>
					</li>
				</ul>

				<!--分页-->
				<nav class="mt-5">
					<ul class="pagination justify-content-center" th:if="${pageBean.totalPage>0}">
						<li class="page-item">
							<a class="page-link" th:href="@{|/notice/${type}/1|}">首页</a>
						</li>

						<li th:class="|page-item ${pageBean.current==1 ? 'disabled' : ''}|">
							<a class="page-link" th:href="@{|/notice/${type}/${pageBean.current -1}|}">上一页</a>
						</li>

						<li th:class="|page-item ${i==pageBean.current?'active':''}|" th:each="i:${#numbers.sequence(pageBean.from,pageBean.to)}">
							<a class="page-link" th:href="@{|/notice/${type}/${i}|}" th:text="${i}">1</a>
						</li>

						<li th:class="|page-item ${pageBean.current==pageBean.totalPage ? 'disabled' : ''}|">
							<a class="page-link" th:href="@{|/notice/${type}/${pageBean.current +1}|}">下一页</a>
						</li>

						<li class="page-item">
							<a class="page-link" th:href="@{|/notice/${type}/${pageBean.totalPage}|}">末页</a>
						</li>
					</ul>
				</nav>


			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/letter.js}"></script>
</body>
</html>
