<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CodeAndPeace-发布新贴</title>

    <div th:replace="index::icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}" />
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/lib/editormd/editormd.min.js}"></script>



</head>
<body>

<header class="bg-dark sticky-top" th:replace="index::header"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发新贴 </h2>
            <hr>

            <form th:action="@{/publish}" method="post">
                <input type="hidden" name="id" value="">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" value="" id="title" name="title"
                           placeholder="请输入标题"
                           autocomplete="off"
                           th:value="${code==null}?'':${title}">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">内容</label>
                    <textarea name="content" id="description" style="display:none;"
                              class="form-control"
                              cols="30"
                              rows="10" th:utext="${code==null}?'':${content}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: 550,
                            path   : "/lib/editormd/lib/",
                            delay: 0,
                            placeholder: "开始编辑...",
                            emoji : true,
                            tex : true,
                        });
                    });
                    onfullscreen=function full() {};
                </script>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-publish ">
                        发布
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <h3>发帖指南</h3>
            • 标题: 请用精简的语言描述您发布的帖子
            <br>
            • 内容: 详细补充您的帖子内容，并确保问题描述清晰直观
            <br>
            • 墙裂推荐使用 Markdown 语法发布问题
            <br>
            • <a  target="_blank" href="https://www.runoob.com/markdown/md-tutorial.html">什么是 Markdown？</a>
        </div>
    </div>
    <input type="hidden" id="msg" th:value="${code==null?'':msg}">

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:if="${code!=null&&code==0}">
    alert($("#msg").val());
</script>
</body>
</html>