<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cool.yzt.cap.mapper.SystemNoticeMapper">

    <sql id="insertFields">
        to_id, content, type, status, create_time
    </sql>

    <sql id="selectFields">
        id, to_id, content, type, status, create_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into system_notice
        (<include refid="insertFields"></include>)
        values(#{toId},#{content},#{type},#{status},#{createTime})
    </insert>

    <select id="selectLastByType" resultType="SystemNotice">
        select <include refid="selectFields"></include>
        from system_notice
        where id in (
        select max(id)
        from system_notice
        where to_id = #{userId} and type = #{type} and status !=2
        )
    </select>

    <select id="selectByType" resultType="SystemNotice">
        select <include refid="selectFields"></include>
        from system_notice
        where to_id = #{userId} and type = #{type}
        order by id desc
    </select>

    <select id="selectUnreadCount" resultType="int">
        select count(id) from system_notice where status=0 and to_id=#{userId} and type = #{type}
    </select>

    <select id="selectAllCountByType" resultType="int">
        select count(id) from system_notice where status!=2 and  to_id=#{userId} and type = #{type}
    </select>

    <select id="selectAllUnreadCount" resultType="int">
        select count(id) from system_notice where status=0 and  to_id=#{userId}
    </select>

    <update id="updateStatus">
        update system_notice set status = #{status} where to_id = #{userId} and type = #{type}
    </update>

</mapper>