<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://yzt.cool/upload/2020/05/avatar-5c35cefa8e1f48968928e37830d93f98.jpg"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>CodeAndPeace-首页</title>

</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark" th:fragment="header">
			<div class="container">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg navbar-dark">
					<!-- logo -->
					<a class="navbar-brand" th:href="@{/index}">Code And Peace</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent"
							aria-expanded="false"
							aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- 功能 -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" th:href="@{/index}" style="color: whitesmoke">首页</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loggedInUser!=null}">
								<a class="nav-link position-relative" th:href="@{/letter/list}" style="color: whitesmoke">消息<span th:if="${messageUnreadCount+noticeUnreadCount>0}" class="badge badge-danger" th:text="${messageUnreadCount+noticeUnreadCount}">12</span></a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loggedInUser==null}">
								<a class="nav-link" th:href="@{/register}" style="color: whitesmoke">注册</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loggedInUser==null}">
								<a class="nav-link" th:href="@{/login}" style="color: whitesmoke">登录</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loggedInUser!=null}">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img th:src="${loggedInUser.headerUrl}" class="rounded-circle" style="width:30px;"/>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" th:href="@{|/user/${loggedInUser.username}/profile|}" style="color: black">个人主页</a>
									<a class="dropdown-item text-center" th:href="@{/user/setting}" style="color: black">账号设置</a>
									<a class="dropdown-item text-center" th:href="@{/logout}" style="color: black">退出登录</a>
									<div class="dropdown-divider"></div>
									<span class="dropdown-item text-center text-secondary" th:utext="${loggedInUser.username}" style="color: black">nowcoder</span>
								</div>
							</li>
						</ul>
						<!-- 搜索 -->
						<!--
						<form class="form-inline my-2 my-lg-0" action="site/search.html">
							<input class="form-control mr-sm-2" type="search" aria-label="Search" />
							<button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="color: whitesmoke">搜索</button>
						</form>
						-->
					</div>
				</nav>
			</div>
		</header>


		<!-- 内容 -->
		<div class="main bgimg">
			<div class="container">
				<div class="position-relative">
					<!-- 筛选条件 -->
					<ul class="nav nav-tabs mb-3">
						<li class="nav-item">
							<div class="nav-link active">最新</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">最热</a>
						</li>
					</ul>
					<a th:href="@{/publish}"><button type="button" class="btn btn-primary btn-sm position-absolute rt-0"
													>我要发布</button>
					</a>

				</div>



				<!-- 帖子列表 -->
				<ul class="list-unstyled">
					<li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${pageBean.contents}">
						<a th:href="@{|/user/${map.user.username}/profile|}">
							<img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
						</a>
						<div class="media-body">
							<h6 class="mt-0 mb-3">
								<a th:href="@{/post/{postId}(postId=${map.post.id})}" th:utext="${map.post.title}"> </a>
								<span class="badge badge-secondary bg-primary" th:if="${map.post.type==1}">置顶</span>
								<span class="badge badge-secondary bg-danger" th:if="${map.post.status==1}">精华</span>
							</h6>
							<div class="text-muted font-size-12">
								<u class="mr-3" th:utext="${map.user.username}">寒江雪</u> 发布于 <b th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
								<ul class="d-inline float-right">
									<li class="d-inline ml-2">赞 <i th:text="${map.likeCount}">11</i></li>
									<li class="d-inline ml-2">|</li>
									<li class="d-inline ml-2">回帖 <i th:text="${map.post.commentCount}">7</i></li>
								</ul>
							</div>
						</div>						
					</li>
				</ul>
				<!-- 分页 -->
				<nav class="mt-5">
					<ul class="pagination justify-content-center" th:if="${pageBean.totalContent>0}">
						<li class="page-item">
							<a class="page-link" th:href="@{/index/page/1}">首页</a>
						</li>

						<li th:class="|page-item ${pageBean.current==1 ? 'disabled' : ''}|">
							<a class="page-link" th:href="@{'/index/page/'+${pageBean.current -1}}">上一页</a>
						</li>

						<li th:class="|page-item ${i==pageBean.current?'active':''}|" th:each="i:${#numbers.sequence(pageBean.from,pageBean.to)}">
							<a class="page-link" th:href="@{'/index/page/'+${i}}" th:text="${i}">1</a>
						</li>

						<li th:class="|page-item ${pageBean.current==pageBean.totalPage ? 'disabled' : ''}|">
							<a class="page-link" th:href="@{'/index/page/'+${pageBean.current+1}}">下一页</a>
						</li>

						<li class="page-item">
							<a class="page-link" th:href="@{'/index/page/'+${pageBean.totalPage}}">末页</a>
						</li>
					</ul>
				</nav>

			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:fragment="footer">
			<div class="container">
				<div class="row">
					<!-- 二维码 -->
					<div class="col-4 qrcode">
						<img th:src="@{/img/qrcode.png}" class="img-thumbnail" style="width:136px;" />
					</div>
					<!-- 公司信息 -->
					<div class="col-8 detail-info">
						<div class="row">
							<div class="col">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link text-light" target="_blank" href="https://yzt.cool/s/about">关于</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" target="_blank" href="https://github.com/yzt95/cap">源码地址</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" target="_blank" href="https://github.com/yzt95/cap/issues">BUG反馈</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" target="_blank" href="https://yzt.cool/links">友情链接</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" target="_blank" href="https://cfd.yzt.cool/">CFD小工具</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<ul class="nav btn-group-vertical company-info">
									<li class="nav-item text-white-50">
										联系方式：codeandpeace@qq.com
									</li>
									<li class="nav-item text-white-50">
										CodeAndPeace © 2020 All rights reserved
									</li>
									<!--
									<li class="nav-item text-white-50">
										京ICP备14055008号-4
									</li>
									-->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/index.js}"></script>
</body>
</html>
